# Godot-specific files
.godot/
export/
export_presets.cfg
data_*.bin
.config/

# Cache files
*.md5
uid_cache.bin

# Editor settings
.editor/
.editor_layout.cfg
.editor_settings-*.cfg
script_editor_cache.cfg
project_metadata.cfg
global_script_class_cache.cfg
filesystem_cache8
